# (25') Using pandas

2019-05-20, Mauro Lepore (maurolepore@gmail.com)

## GitHub repository: http://bit.ly/using-pandas

## Curriculum

> Module 1: Students will be familiarized with popular Python libraries that are used in Data Science


## Objectives

* Import and transform a real-world dataset to answer a data science question with pandas.

---

# The data science workflow

![](https://i.imgur.com/zsnUvnj.png)

[Source](https://r4ds.had.co.nz/explore-intro.html)

---

# Setup

* Create a new jupyter notebook.
* Issues? Fork this notebook: http://bit.ly/using-pandas-kaggle

# Requirements

* You already know the basics of [pandas](http://pandas.pydata.org/pandas-docs/stable/).

# Resources

* [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/).
* [How to do stuff with pandas](http://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb).
* Search cheetsheets in the wild.

# Credit

This material was adapted from the tutorial [_Using pandas for Better (and Worse) Data Science_](https://github.com/justmarkham/pycon-2018-tutorial), presented by [Kevin Markham](http://www.dataschool.io/about/) at PyCon on May 10, 2018. Kevin Markham is the founder of [Data School](http://www.dataschool.io/), an online school for learning data science with Python.

----

---
# Questions?
---

### Import

In [11]:
# Import pandas as usual
import pandas as pd

<details> 
  <summary>Hint</summary>
    <code>`import ____ as ____`</code> 
</details> 

<details> 
  <summary>Solution</summary> 
    <code>`import pandas as pd`</code> 
</details>

`police.csv` contains data of traffic stops made by police in Rhode Island. It is adapted from [Stanford Open Policing Project](https://openpolicing.stanford.edu/), and available under the [Open Data Commons Attribution License](https://opendatacommons.org/licenses/by/summary/).

In [14]:
# Data: https://raw.githubusercontent.com/maurolepore/using-pandas/master/police.csv
# Use `ri` for Rhode Island
# path = 'police.csv'
url = 'https://raw.githubusercontent.com/maurolepore/using-pandas/master/police.csv'
ri = pd.read_csv(url)

<details> 
  <summary>Hint</summary>
    <code>`ri = pd.____(<path or url>)`</code> 
</details> 
  
<details> 
  <summary>Solution</summary> 
    <code>`ri = pd.read_csv('https://raw.githubusercontent.com/maurolepore/using-pandas/master/police.csv')`</code> 
</details>

In [15]:
# Explore the first few rows. What does each row represent?
ri.head()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

<details> 
  <summary>Hint</summary>
    <code>`ri.____()`</code> 
</details> 
  
<details> 
  <summary>Solution</summary> 
    <code>`ri.head()`</code> 
</details>

In [16]:
# How many columns and rows does the data contain?
ri.shape

(91741, 15)

<details> 
  <summary>Hint</summary>
    <code>`____.shape`</code> 
</details> 
  
<details> 
  <summary>Solution</summary> 
    <code>`ri.shape`</code> 
</details>

In [20]:
# What types of data does this dataset have? What do they mean?
ri.dtypes

stop_date              object
stop_time              object
county_name           float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

<details> 
  <summary>Hint</summary>
    <code>`____.dtypes`</code> 
</details> 
  
<details> 
  <summary>Solution</summary> 
    <code>`ri.dtypes`</code> 
</details>

* What does `NaN` mean?
* Why might a value be missing?
* Why mark missing data as `NaN`? Why not `0`, `' '`, or `'Unknown'`?

In [25]:
# How many missing values are there in each column?
ri.isna().mean()

stop_date             0.000000
stop_time             0.000000
county_name           1.000000
driver_gender         0.058153
driver_age_raw        0.058066
driver_age            0.061270
driver_race           0.058131
violation_raw         0.058131
violation             0.058131
search_conducted      0.000000
search_type           0.965163
stop_outcome          0.058131
is_arrested           0.058131
stop_duration         0.058131
drugs_related_stop    0.000000
dtype: float64

<details> 
  <summary>Hint</summary>
    <code>`ri.isnull().____()`</code> 
</details> 
  
<details> 
  <summary>Solution</summary> 
    <code>`ri.isnull().sum()`</code> 
</details>

---
# Questions?
---

### Transform

In [28]:
# Drop the column that contains only missing values
ri.drop('county_name', axis='columns', inplace=True)

<details> 
  <summary>Hint</summary>
    <code>`ri.drop('____', axis='____', inplace=____)`</code> 
</details> 
  
<details> 
  <summary>Solution</summary> 
    <code>
        ```
        ri.drop('county_name', axis='columns', inplace=True)
        # Same
        ri.dropna(axis='columns', how='all', inplace=True)
        ```
    </code>
</details>

In [29]:
# Confirm that the column is gone
ri.shape

(91741, 14)

<details> 
  <summary>Hint</summary>
    <code>`ri.____`</code> 
</details> 
  
<details> 
  <summary>Solution</summary> 
    <code>`ri.shape`</code> 
</details>

---
Take aways:

* Pay attention to default arguments.
* Check that your code did what you expected.
* There is more than one way to do everything.

---
# Questions?
---

#### Do males or females speed more often?

Pay special attention to the columns `violation` and `driver_gender`.

There are at least two ways to understand and answer this question:

#### 1. When someone is stopped for speeding, how often is it a male or female?

In [35]:
# 1. Pick speeding rows
# 2. Select gender column
# 3. Count values by gender (as a proportion)

ri[ri.violation == 'Speeding'].driver_gender.value_counts(normalize=True)

M    0.680527
F    0.319473
Name: driver_gender, dtype: float64

<details> 
  <summary>Hint</summary>
    <code>
        ```
        speeding = ri[ri.____ == 'Speeding']
        ____.____.value_counts(normalize=True)
        ```
    </code> 
</details> 
  
<details> 
  <summary>Solution</summary> 
    <code>
        ```
        speeding = ri[ri.violation == 'Speeding']
        speeding.driver_gender.value_counts(normalize=True)
        ```
    </code> 
</details>

#### 2. When a male is pulled over, how often is for speeding? (repeat for female)

In [37]:
# 1. Group the data by gender
# 2. Select the violations column
# 3. Count values by violation (as a proportion)

ri.groupby('driver_gender').violation.value_counts(normalize=True)

driver_gender  violation
F              Speeding               0.658500
               Moving violation       0.136277
               Equipment              0.105780
               Registration/plates    0.043086
               Other                  0.029348
               Seat belt              0.027009
M              Speeding               0.524350
               Moving violation       0.207012
               Equipment              0.135671
               Other                  0.057668
               Registration/plates    0.038461
               Seat belt              0.036839
Name: violation, dtype: float64

<details> 
  <summary>Hint</summary>
    <code>`ri.groupby('____').____.value_counts(normalize=True)`</code> 
</details> 
  
<details> 
  <summary>Solution</summary> 
    <code>`ri.groupby('driver_gender').violation.value_counts(normalize=True)`</code> 
</details>

Take away: 

* There is more than one way to understand and answer a question.

### Communicate

```
git add .
git commit -m "Analyze police traffic stops in Rhode Island"
git push
```

[See this report on GitHub](https://github.com/maurolepore/using-pandas/blob/master/using-pandas.ipynb)

---
# Quesitons?
---

 # [Poll](https://github.com/maurolepore/using-pandas/issues/1)